<IfModule mod_rewrite.c>
    RewriteEngine On

    # إن كان الطلب ملفًا أو مجلدًا حقيقيًا داخل public
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -d
    RewriteRule ^(.*)$ public/$1 [L]

    # غير ذلك، مرر الطلب إلى Laravel
    RewriteRule ^ public/index.php [L]
</IfModule>
